<mat-card class="user-card" >
    <mat-card-header class="user-card">
      <mat-card-title class = "heder1 ">Lista Transakcija</mat-card-title>
    </mat-card-header>
    <mat-card-content >
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 user-table" class = "content-text" matSort matSortStart = "desc">
          
            <ng-container matColumnDef="id" class="prvi-red">
              <th mat-header-cell *matHeaderCellDef> Transaction ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
            <ng-container matColumnDef="beneficiary-name">
              <th mat-header-cell *matHeaderCellDef> Beneficiary-Name </th>
              <td mat-cell *matCellDef="let element"> {{element["beneficiary-name"]}} </td>
            </ng-container>
          
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="date"> Transaction Date </th>
              <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>
          
            <ng-container matColumnDef="direction">
              <th mat-header-cell *matHeaderCellDef > Direction </th>
              <td mat-cell *matCellDef="let element"> {{element.direction }} </td>
            </ng-container>
        
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef > Transaction Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
              </ng-container>
          
              <ng-container matColumnDef="currency">
                <th mat-header-cell *matHeaderCellDef> Transaction Currency </th>
                <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
              </ng-container>
        
              <ng-container matColumnDef="kind">
                <th mat-header-cell *matHeaderCellDef> Transaction Kind </th>
                <td mat-cell *matCellDef="let element"> {{element.kind}} </td>
              </ng-container>
        
              <ng-container matColumnDef="splitMarker">
                <th mat-header-cell *matHeaderCellDef> Split Marker </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button class="dugmence">Split Transaction</button>
                </td>
              </ng-container>
        
              <ng-container matColumnDef="mcc">
                <th mat-header-cell *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let element"> 
                    <div *ngIf="element.mcc; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock><button mat-raised-button class="dugmence" (click)="onPress(element)">{{element.mcc}}</button></ng-template>
                    <ng-template #elseBlock><button mat-raised-button class="dugmence" (click)="onPress(element)">Add Category</button></ng-template>
                    
                </td>
              </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select the number of transactions">
  </mat-paginator>

<div id="dropdown-menu" *ngIf="display" class="meni">
  <h1>Choose an Option.</h1>
  <h4>Category</h4>
  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select>
      <mat-option *ngFor="let category of parentArray" (click)="getSubcategory(category.code)"
                  [value] = "category.name">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <h4>Subcategory</h4>
    <mat-form-field appearance= "fill">
      <mat-label>Subcategory</mat-label>
      <mat-select>
        <mat-option *ngFor="let category of childCategories" [value] = "category.name" (click)="getCode(category)">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>    
  <button (click)= "postChanges()">Add Categories.</button>
  <button (click)= "cancelChanges()">Discard.</button>
</div>
  
  
<!-- <mat-selection-list >
  <mat-list-option *ngFor="let category of parentArray">
    {{category}}
  </mat-list-option> -->
    </mat-card-content>
  </mat-card>




  