<mat-card class="user-card" >
    <mat-card-header class="user-card">
      <mat-card-title>Lista Transakcija</mat-card-title>
    </mat-card-header>
    <mat-card-content >
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 user-table" class = "content-text" matSort matSortStart = "desc">
          
          
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>

            <ng-container matColumnDef="id" class="prvi-red">
              <th mat-header-cell *matHeaderCellDef> Transaction ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
            <ng-container matColumnDef="beneficiary-name">
              <th mat-header-cell *matHeaderCellDef> Beneficiary-Name </th>
              <td mat-cell *matCellDef="let element"> {{element["beneficiary-name"]}} </td>
            </ng-container>
          
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="date"> Transaction Date </th>
              <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>
          
            <ng-container matColumnDef="direction">
              <th mat-header-cell *matHeaderCellDef > Direction </th>
              <td mat-cell *matCellDef="let element"> {{element.direction }} </td>
            </ng-container>
        
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef > Transaction Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
              </ng-container>
          
              <ng-container matColumnDef="currency">
                <th mat-header-cell *matHeaderCellDef> Transaction Currency </th>
                <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
              </ng-container>
        
              <ng-container matColumnDef="kind">
                <th mat-header-cell *matHeaderCellDef> Transaction Kind </th>
                <td mat-cell *matCellDef="let element"> {{element.kind}} </td>
              </ng-container>
        
              <ng-container matColumnDef="splitMarker">
                <th mat-header-cell *matHeaderCellDef> Split Marker </th>
                <td mat-cell *matCellDef="let element">
                 <button mat-raised-button class="dugmence" (click)="onPressSplit(element)">Add split</button>
                </td>
              </ng-container>
        
              <ng-container matColumnDef="mcc">
                <th mat-header-cell *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let element"> 
                    <div *ngIf="element.mcc; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <button mat-raised-button class="dugmence" (click)="onPress(element)">{{element.description}}</button>
                        <span *ngIf="element.split">
                            <button mat-raised-button (click)="onPress(element)" *ngFor="let dugme of element.split_kategorije">
                              {{dugme}}
                            </button>
                        </span>
                    </ng-template>
                    <ng-template #elseBlock><button mat-raised-button class="dugmence" (click)="onPress(element)">Add Category</button></ng-template>
                    
                </td>
              </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select the number of transactions">
  </mat-paginator>

<div id="dropdown-menu" *ngIf="display" class="meni">
  <h1>Choose an Option.</h1>
  <h4>Category</h4>
  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select>
      <mat-option *ngFor="let category of parentArray" (click)="getSubcategory(category)"
                  [value] = "category.name">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <h4>Subcategory</h4>
    <mat-form-field appearance= "fill">
      <mat-label>Subcategory</mat-label>
      <mat-select>
        <mat-option *ngFor="let category of childCategories" [value] = "category.name" (click)="getCode(category)">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>    
  <button (click)= "postChanges()">Add Categories.</button>
  <button (click)= "cancelChanges()">Discard.</button>
</div>


<div id="split-dropdown-menu" *ngIf="splitdisplay" class="split-meni">
    <!-- some code here - see full code at the end of this tutorial -->
     <section *ngFor="let lista of listaKategorija; let i = index;">
      <div><button type="button" class="btn btn-danger btn-sm" (click)="removeSplit(i)">Remove Split</button></div>
        <label>Category</label>
        <mat-form-field appearance="fill">
          <mat-label>Category</mat-label>
          <mat-select name = "lista.id">
            <mat-option *ngFor="let category of parentArray" (click)="getSplitSubcategory(category)" 
                        [value] = "category.name">
              {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <h4>Subcategory</h4>
          <mat-form-field appearance= "fill">
            <mat-label>Subcategory</mat-label>
            <mat-select name = "lista.id">
              <mat-option *ngFor="let category of childCategories" [value] = "category.name" (click)="getSplitCode(category)">
                {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> 
        <div>
          <mat-form-field (submit)= "onSubmit()">
            <mat-label>Enter split ammount</mat-label>
              <input matInput [(ngModel)] = value_form>
          </mat-form-field>
          <div>
            <button type="button" (click) = "addFormValue()"> AddSplitAmmount</button>
          </div>
        </div>
       <div><button type="button" (click)="addSplit(i)">Add Split</button></div>
     </section>
  <div>
    
  </div>
  <div></div>

  <button (click)= "postSplitChanges()">Split the ammount.</button>
  <button (click)= "cancelSplitChanges()">Discard.</button>
</div>
  
<!-- <mat-selection-list >
  <mat-list-option *ngFor="let category of parentArray">
    {{category}}
  </mat-list-option> -->
    </mat-card-content>
  </mat-card>




  