.user-card {
    width: 60%;
    margin: auto;
}

.listHeader {
    width: auto;
    text-align: center;
    margin: auto;
}

.tabela {
    width: auto;
    margin: auto;
}

.paginator {
    width: 50%;
    margin:auto;
}

.meni {

}

.split-meni {

}